---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=the%20lord%20of%20the%20rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ol-Stats:
      - '"SR 1 0.240 TT 0 0.338"'
    body:
      encoding: UTF-8
      string: |-
        {
         "start": 0,
         "num_found": 488,
         "numFound": 488,
         "docs": [
          {
           "title_suggest": "The Lord of the Rings",
           "edition_key": [
            "OL10681058M",
            "OL10236416M",
            "OL21217116M",
            "OL22510662M",
            "OL9559516M",
            "OL7603320M",
            "OL6165495M",
            "OL13807949M",
            "OL13761262M",
            "OL17906645M",
            "OL4883007M",
            "OL5975400M",
            "OL22406853M",
            "OL17990125M",
            "OL16539692M",
            "OL23795326M",
            "OL22815379M",
            "OL5574175M",
            "OL55[...]
